.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.Seaweed{
  height: 100px;
  width: 100px;
}
.p1{
  object-position: left bottom;
}
.p2{
  object-position: center bottom;
}
.p3{
  object-position: right bottom;
}

@keyframes waterFade {  
  0% { background-color: rgb(123, 158, 171); }
  50% { background-color: rgb(20, 62, 101); }
  100% { background-color: rgb(123, 158, 171); }
}

@keyframes wordFade {  
  0% { color: rgb(20, 62, 101); }
  50% { color: rgb(123, 158, 171); }
  100% { color: rgb(20, 62, 101); }
}


.App-header {
  /* background-color: #366487; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  animation: waterFade 5s linear infinite;
}

a:link {
  background-color: rgb(137, 152, 176)
}

p:hover {
  animation: wordFade 5s linear infinite;
  cursor: pointer;
}

